.parent-container {
    padding-top: 70px;
}
.body{
    background-image: url("https://img1.goodfon.com/wallpaper/original/9/40/popugay-ptica-cvet-perya-pen.jpg");
    background-size: 2000px 1100px;
}